
@model Tuple<HaliSaha_Model.Models.Randevu, HaliSaha_Model.Models.SporTesisi>

<br />
@{
    ViewData["Title"] = "Randevu Düzenle";
}

<h5>Randevu Düzenle</h5>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for=@Html.TextBoxFor(m => m.Item1.KullaniciId) />
            <input type="hidden" asp-for=@Html.TextBoxFor(m => m.Item2.TesisId) />
            <div class="form-group">
                <label asp-for=@Html.TextBoxFor(m => m.Item2.TesisDegerlendirmesi) class="control-label"></label>
                @if (DateTime.Now.Date < ViewBag.gun)
                {
                    <textarea asp-for=@Html.TextBoxFor(m => m.Item2.TesisDegerlendirmesi) class="form-control" disabled>Randevu Gününüz Gelmedi</textarea>
                }
                else
                {
                    <textarea asp-for=@Html.TextBoxFor(m=> m.Item2.TesisDegerlendirmesi) class="form-control"></textarea>
                }
                <span asp-validation-for=@Html.TextBoxFor(m => m.Item2.TesisDegerlendirmesi) class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Html.TextBoxFor(m => m.Item2.TesisPuani) class="control-label"></label>
                @if (DateTime.Now.Date < ViewBag.gun)
                {
                    <input asp-for=@Html.TextBoxFor(m => m.Item2.TesisPuani) class="form-control" disabled />
                }
                else
                {
                    <input asp-for=@Html.TextBoxFor(m => m.Item2.TesisPuani) class="form-control" />
                }
                <span asp-validation-for=@Html.TextBoxFor(m => m.Item2.TesisPuani) class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Html.TextBoxFor(m => m.Item1.randevuTarihi) class="control-label"></label>
                <input asp-for=@Html.TextBoxFor(m => m.Item1.randevuTarihi) class="form-control" />
                <span asp-validation-for=@Html.TextBoxFor(m => m.Item1.randevuTarihi) class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Randevu Listesine Geri Dön</a>
</div>
