@using HaliSaha_Model.Models
@model Login 


<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Hali_Saha</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Hali_Saha.styles.css" asp-append-version="true" />
	<title>Creative Colorlib SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Giriş Yap </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post" asp-controller="Login" asp-action="Index">

					<span asp-validation-for="@Model.KullaniciAd" class="text-danger"></span>
					<input class="text" asp-for="KullaniciAd" type="text"  placeholder="Kullanıcı Adı" required="">
					<br />
					<span asp-validation-for="@Model.KullaniciSifre" class="text-danger"></span>
					<input class="text" asp-for="KullaniciSifre" type="password" placeholder="Şifre" required="">

					<input type="submit" value="Giriş Yap">

					<div class="text-danger" asp-validation-summary="ModelOnly">
					</div>
				</form>
				<p>Bir hesabın yok mu? <a asp-controller="Register" asp-action="Index"> Kayıt Ol!</a></p>
			</div>
		</div>

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>




